$brand-accent: #ebebd3;
$brand-main: #8c6057;
$brand-secondary: lighten($brand-main, 10%);
$brand-dark: #1e1014;
$brand-text: $brand-accent;
$brand-text-alt: $brand-dark;
$brand-text-secondary: #878c8f;
$store-bg: #fbfbfb;
$success: #41521fdc;
