$brand-accent: #f4d1ae;
$brand-main: #d84a05;
$brand-secondary: lighten($brand-main, 10%);
$brand-dark: #280003;
$brand-text: #fbfbfb;
$brand-text-secondary: #878c8f;
$store-bg: #fbfbfb;
$success: #67a357dc;
