$brand-accent: #d8a47f;
$brand-main: #754043;
$brand-secondary: lighten($brand-main, 10%);
$brand-dark: #171614;
$brand-text: #fbfbfb;
$brand-text-alt: $brand-dark;
$brand-text-secondary: #878c8f;
$store-bg: #fbfbfb;
$success: #41521fdc;
