@import url('https://fonts.googleapis.com/css?family=Muli|Playfair+Display|Archivo&display=swap');

@import './variables';

html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Muli';
}
