@import '../../../sass/variables';

.item {
	padding: 1rem;
	background: darken(#eee, 5%);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 1rem;
	border-radius: 5px;
	max-width: 25rem;
	& .heading {
		max-width: 20rem;
		& img {
			width: 100%;
			height: 100%;
			border-radius: 5px;
		}
	}
	& .name,
	& .description,
	& .price {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		background: #fbfbfb;
		padding: 0.2rem 0.5rem;
		box-shadow: 0 1px 10px darken(#eee, 5%);
		border-radius: 5px;
		& h2 {
			color: $brand-main;
			font-size: 1.2rem;
		}
		& p {
			color: #666;
		}
		& .in_stock {
			color: rgba(28, 184, 28, 0.972);
		}
		& .low_stock {
			color: #e45d0f;
		}
		& .out_of_stock {
			color: rgba(206, 35, 35, 0.904);
		}
	}
	& .checkout {
		display: flex;
		justify-content: flex-end;
		& button {
			height: 2.7rem;
			width: 8rem;
			border-radius: 100px;
			color: #eee;
			background: $brand-main;
			border: 0;
			box-shadow: 0 1px 5px darken($brand-main, 5%);
			transition: all 0.3s ease;
			&:hover {
				cursor: pointer;
				background: darken($brand-main, 5%);
				box-shadow: 0 1px 10px darken($brand-main, 10%);
			}
			&:focus {
				outline: 1px solid transparent;
			}
		}
		& .added {
			background: $success;
			box-shadow: 0 1px 5px darken($success, 5%);
		}
		& .disabled_btn {
			background: $brand-secondary;
			opacity: 0.7;
			&:hover {
				cursor: not-allowed;
				background: $brand-secondary;
				box-shadow: 0 0 0;
			}
		}
	}
}
