@import '../../../../sass/variables';
@font-face {
	font-family: 'Henrik';
	src: url('../../../fonts/Henrik-Regular.otf') format('truetype');
}
.container {
	display: flex;
	flex-direction: column;
	min-width: 30vw;
	max-width: 40vw;
	background: $store-bg;
	position: relative;
	border-radius: 2px;
	& .grunge_overlay {
		position: absolute;
		top: 0;
		left: 0;
		background: url('https://res.cloudinary.com/snackmanproductions/image/upload/v1590187338/gerry-m/Grunge-Texture-PNG-Clipart_hdlfvg.png');
		height: 100%;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 100px 150px;
		z-index: 0;
		opacity: 0.5;
		filter: brightness(0) invert(0.7);
	}
	& .heading {
		z-index: 2;
		padding: 1rem;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: 0.5rem;
		justify-items: center;
		box-shadow: 0 1px 6px darken(#eee, 5%);
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		position: relative;

		& h2 {
			font-weight: 100;
			line-height: 2;
			z-index: 2;
			margin: 0;
			font-size: 3rem;
			font-family: 'Henrik';
			text-transform: uppercase;
			color: $brand-main;
			margin: 0;
		}
	}
	& .form {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: 2rem;
		z-index: 2;
		padding: 1rem;
		& .input_col {
			display: flex;
			flex-direction: column;
			padding: 1rem;
			background: transparent;
			border-radius: 5px;
			& label {
				color: $brand-main;
			}
			& input {
				height: 2.5rem;
				padding: 0.5rem;
				background: transparent;
				border: 0;
				border-bottom: 3px solid $brand-main;
				color: $brand-main;
				font-size: 16px;
				&::placeholder {
					color: darken($brand-main, 1%);
					opacity: 0.5;
				}
				&:focus {
					outline: 0px solid $brand-main;
				}
			}
			& button {
				height: 3rem;
				width: 12rem;
				background: $brand-main;
				border: 4px solid $brand-secondary;
				border-radius: 150px;
				transition: all 0.3s ease;
				box-shadow: 0 1px 7px darken($brand-main, 2%);
				color: $brand-text;
				align-self: flex-end;
				font-size: 1rem;
				&:hover {
					cursor: pointer;
					background: darken($brand-main, 5%);
					border: 4px solid darken($brand-main, 5%);
					box-shadow: 0 1px 15px darken($brand-main, 5%);
				}
			}
		}
	}
}
@media screen and (max-width: 1500px) {
	.container {
		display: flex;
		flex-direction: column;
		min-width: 40vw;
		max-width: 90vw;
		background: $store-bg;
		position: relative;
		border-radius: 2px;
	}
}

@media screen and (max-width: 900px) {
	.container {
		display: flex;
		flex-direction: column;
		min-width: 60vw;
		max-width: 90vw;
		background: $store-bg;
		position: relative;
		border-radius: 2px;
	}
}
@media screen and (max-width: 600px) {
	.container {
		display: flex;
		flex-direction: column;
		min-width: 90vw;
		max-width: 90vw;
		background: $store-bg;
		position: relative;
		border-radius: 2px;
	}
}
