@import '../../../../sass/variables';

.form {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 1rem;
	z-index: 2;
	padding: 1rem;
	& .input_col {
		display: flex;
		flex-direction: column;
		padding: 1rem;
		& label {
			color: $brand-main;
		}
		& input {
			height: 2.5rem;
			padding: 0.5rem;
			background: transparent;
			border: 0;
			border-bottom: 3px solid $brand-main;
			color: $brand-main;
			font-size: 16px;
			&::placeholder {
				color: darken($brand-main, 1%);
				opacity: 0.5;
			}
			&:focus {
				outline: 0px solid $brand-main;
			}
		}
		& button:nth-of-type(1) {
			margin-top: 1rem;
		}

		& button {
			height: 3rem;
			width: 12rem;
			background: $brand-main;
			border: 4px solid $brand-secondary;
			border-radius: 150px;
			transition: all 0.3s ease;
			box-shadow: 0 1px 7px darken($brand-main, 2%);
			color: $brand-text;
			align-self: flex-end;
			font-size: 1rem;
			&:hover {
				cursor: pointer;
				background: darken($brand-main, 5%);
				border: 4px solid darken($brand-main, 5%);
				box-shadow: 0 1px 15px darken($brand-main, 5%);
			}
		}
	}
}
