@import '../../../sass/variables';
@import '../../../sass/mixins';
@font-face {
	font-family: 'Henrik';
	src: url('../../fonts/Henrik-Regular.otf') format('truetype');
}
.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: hidden;
	padding: 2rem 0;
	margin: 1rem 0;
	& .bio_heading {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		& h2 {
			@include heading;
		}
		& .decorator {
			display: flex;
			align-items: center;
			justify-content: center;
			& span {
				height: 6px;
				width: 50px;
				display: block;
				background: $brand-secondary;
			}
			& span:nth-child(2) {
				background: lighten($brand-secondary, 5%);
			}
			& span:nth-child(3) {
				background: lighten($brand-secondary, 10%);
			}
		}
	}
	& .btn_container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		& .text_expand_btn {
			display: flex;
			background: transparent;
			color: $brand-main;
			border: 0px solid transparent;
			justify-self: center;
			font-size: 1.2rem;
			&:hover {
				cursor: pointer;
			}
		}
	}
	& .par_grid {
		max-width: 42vw;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		transition: all 1s ease;
		& .par_container {
			& p {
				color: $brand-text;
				font-size: 1.2rem;
				line-height: 2;
				font-family: acumin-pro, sans-serif;
				font-weight: 400;
				font-style: normal;
				text-align: center;
			}
		}
	}
	& .reduced {
		min-height: 70vh;
	}
	& .expanded {
		min-height: 100vh;
		max-height: 1000vh;
	}
}

@media screen and (max-width: 900px) {
	.section {
		padding: 2rem 0;
		margin: 1rem 0;
		& .bio_heading {
			& h2 {
				@include heading;
				font-size: 12vw;
			}
		}
		& .btn_container {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			& .text_expand_btn {
				display: flex;
				background: transparent;
				color: $brand-main;
				border: 0px solid transparent;
				justify-self: center;
				&:hover {
					cursor: pointer;
				}
			}
		}
		& .par_grid {
			max-width: 95%;
			& .par_container {
				padding: 0rem 1rem;
				& p {
					font-size: 1.15rem;
					line-height: 2;
				}
			}
		}
		& .reduced {
			min-height: 70vh;
		}
		& .expanded {
			min-height: 100vh;
			max-height: 1000vh;
		}
	}
}
