@import '../../../sass/variables';

.landing {
	height: 100vh;
	width: 100%;
	position: relative;
	z-index: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	background: url('https://res.cloudinary.com/snackmanproductions/image/upload/v1585118479/gerry-m/gerry_xbgul1.jpg');
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	filter: sepia(0.2);
	& .overlay {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		background: linear-gradient(90deg, #000, #222);
		opacity: 0.7;
	}
	& .text_box {
		z-index: 1;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		animation: fadein 1s linear forwards;
		transform: translateY(-10vh);
		opacity: 0;
		& h2 {
			color: $brand-text;
			font-size: 3vw;
			font-family: 'Playfair Display';
			font-weight: 100;
		}
	}
	& .grid {
		display: flex;
		justify-content: center;
		width: 100vw;
		z-index: 1;
		animation: fadein 1.2s linear forwards;
		transform: translateY(-10vh);
		opacity: 0;
		height: 8vh;
		gap: 1rem;
		background: $brand-dark;
		& button {
			background: transparent;
			border: 0px solid #eee;
			width: 17rem;
			color: $brand-text;
			text-transform: uppercase;
			transition: all 0.3s ease-in-out;
			height: 100%;
			&:hover {
				cursor: pointer;
				background: $brand-main;
				border: 0px solid $brand-main;
			}
		}
	}
	& .social {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		background: $brand-main;
		z-index: 1;
		height: 100%;
		animation: fadein 1.3s linear forwards;
		transform: translateY(-10vh);
		opacity: 0;
		& svg {
			margin: 0 0.5vw;
			color: darken($brand-text, 20%);
			font-size: 1.2vw;
			transition: all 0.3s ease-in-out;
			&:hover {
				cursor: pointer;
				color: $brand-text;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.landing {
		background-attachment: auto;
		& .grid {
			z-index: 1;
			& button {
				width: 33.33%;
				color: $brand-text;
				font-size: 4vw;
			}
		}
		& .social {
			width: 33.33%;

			& svg {
				margin: 0 0.5vw;
				color: darken($brand-text, 20%);
				font-size: 4vw;
				transition: all 0.3s ease-in-out;
			}
		}
	}
}

@keyframes fadein {
	0% {
		transform: translateY(10vh);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
