@import '../../../sass/variables';

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 1rem;
	width: 100%;
	margin-top: 5rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	& .alert_success {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 3rem;
		padding: 0.5rem;
		width: 100%;
		background: $success;
		color: #eee;
		z-index: 1000;
	}
	& .alert_danger {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 3rem;
		width: 100%;
		padding: 0.5rem;
		background: #d1460fa4;
		color: #fff;
		z-index: 1000;
	}
}
