@import '../../../../sass/variables';

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	& .heading {
		display: flex;
		justify-content: center;
		& p {
			color: #666;
			font-size: 1.5rem;
		}
	}
	& .input_col {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: 0.5rem 0;
		& label {
			color: #666;
			&::after {
				content: '*';
				color: $brand-main;
			}
		}
		& input {
			height: 2rem;
			border: 2px solid #eee;
			box-shadow: 0 1px 5px darken(#eee, 5%);
			border-radius: 5px;
			font-size: 16px;
			transition: all 0.3s ease;
			color: #666;
			&:focus {
				outline: 2px solid $brand-secondary;
			}
			&:hover {
				border: 2px solid $brand-secondary;
			}
		}
		& input:-webkit-autofill,
		& input:-webkit-autofill:hover,
		& input:-webkit-autofill:focus {
			border: 2px solid $brand-secondary;
			-webkit-text-fill-color: #666;
			-webkit-box-shadow: 0 0 0px 1000px #fff inset;
			transition: background-color 5000s ease-in-out 0s;
		}
	}
	& button {
		width: 100%;
		font-size: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 1rem 0;
		height: 2.5rem;
		background: $success;
		color: $brand-text;
		border-radius: 5px;
		border: 1px solid $success;
		box-shadow: 0 1px 5px darken($success, 5%);
		transition: all 0.3s ease;
		&:hover {
			cursor: pointer;
			background: lighten($success, 5%);
			box-shadow: 0 1px 10px $success;
		}
		&:focus,
		&:active {
			outline: 0px solid $success;
		}

		& svg {
			font-size: 2rem;
			margin-left: 0.5rem;
		}
	}
	& .disclaimer {
		width: 100%;
		display: flex;
		justify-content: center;
		& p {
			font-size: 1rem;
			color: #666;
			& a {
				color: dodgerblue;
			}
		}
	}
}
