@import '../../../../sass/variables';

.container {
	display: flex;
	flex-direction: column;
	margin: 10rem 0;
	& button:nth-child(1) {
		background: $brand-main;
		color: #fff;
		box-shadow: 0 0 0 transparent;
		border: 4px solid $brand-secondary;
		border-radius: 5px;
		align-self: flex-start;
		justify-self: flex-start;
		height: 2.2rem;
		width: 20rem;
		margin: 1rem 0;
		font-size: 1rem;
		transition: all 0.3s ease;
		&:hover {
			cursor: pointer;
			background: $brand-main;
			border: 4px solid $brand-main;
			box-shadow: 0 1px 5px darken($brand-main, 5%);
		}
	}
	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
		background: $store-bg;
		width: 50vw;
		padding: 2rem;
		border-radius: 5px;
		& .heading {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 1rem 0;
			& h2 {
				color: #666;
				font-size: 3rem;
				margin: 0.5rem 0;
			}
			& p {
				color: $brand-main;
				font-size: 1.5rem;
				margin: 0;
			}
		}
		& button {
			height: 3rem;
			width: 100%;
			border: 4px solid $brand-secondary;
			background: $brand-main;
			color: #fff;
			font-size: 1rem;
			margin: 1rem 0;
			box-shadow: 0 1px 5px darken($brand-main, 5%);
			transition: all 0.3s ease;
			border-radius: 5px;
			&:hover {
				cursor: pointer;
				border: 1px solid lighten($brand-main, 5%);
				background: lighten($brand-main, 5%);
				box-shadow: 0 1px 10px $brand-main;
			}
		}

		& #card_element {
			width: 100%;
			border-bottom: 1px solid #fff;
			margin: 1rem 0;
			font-size: 16px;
			border-radius: 5px;
			padding: 1rem 0;
		}
	}
}
