@import '../../../../sass/variables';

.cart {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 99999;
	&:hover {
		cursor: pointer;
	}
	& button {
		background: transparent;
		border: 0;
		color: darken($brand-text, 2%);
		font-size: 1rem;
		transition: all 0.3s ease;
		text-transform: uppercase;
		padding: 0;
		height: 100%;
		margin: 0 1rem;
		&:hover {
			cursor: pointer;
			color: $brand-text;
		}
		&:focus,
		&:active {
			outline: 0px solid transparent;
		}
	}
}
@media screen and (max-width: 900px) {
	.cart {
		height: auto;
	}
}
