@import '../../../sass/variables';
@font-face {
	font-family: 'Faded';
	src: url('../../fonts/Dreamwalker.ttf') format('truetype');
}
.contact_modal {
	display: flex;
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999999;
	justify-content: center;
	align-items: center;

	& .form_container {
		padding: 1rem;
		min-height: 50vh;
		width: 60vw;
		background: $brand-accent;
		color: #fff;
		display: flex;
		flex-direction: column;
		animation: fadeIn 0.5s linear forwards;
		margin: 10rem 0;
		& .btn_container {
			padding: 1rem;
			border-radius: 50%;
			color: #fff;
			font-size: 2rem;
			background: $brand-main;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			align-self: flex-end;
			transition: all 0.3s ease-in-out;
			&:hover {
				box-shadow: 0 10px 10px darken($brand-accent, 10%);
				cursor: pointer;
			}
		}
		& .grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 1fr;
			& .text_box {
				display: flex;
				flex-direction: column;
				justify-content: center;
				& h2 {
					font-family: 'Muli';
					font-size: 6vw;
					margin: 0;
				}
				& .social {
					display: flex;
					& svg {
						font-size: 2rem;
						margin: 0 0.5rem;
						color: $brand-main;
					}
				}
			}
			& .form {
				display: grid;
				grid-template-rows: repeat(5, 1fr);
				gap: 1rem;
				& .input_row {
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					& label {
						color: '#fff';
						font-size: 1.2rem;
						&::after {
							content: '*';
							color: $brand-main;
						}
					}
					& input,
					textarea {
						border: 0;
						border-bottom: 3px solid $brand-main;
						font-size: 16px;
						color: #fff;
						padding: 0.5rem 0;
						background: transparent;
						width: 100%;
						min-height: 2rem;
						resize: none;
						&:focus {
							outline: 0px solid transparent;
						}
						&::placeholder {
							color: $brand-text;
							opacity: 0.5;
							font-family: 'Muli';
						}
					}
					& button {
						color: #fff;
						background: $brand-main;
						align-self: flex-end;
						height: 3rem;
						width: 14rem;
						border-radius: 100px;
						border: 1px solid transparent;
						transition: all 0.3s ease-in-out;
						text-transform: uppercase;
						box-shadow: 0 10px 10px darken($brand-accent, 10%);
						&:hover {
							cursor: pointer;
							box-shadow: 0 1px 1px darken($brand-accent, 10%);
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.contact_modal {
		display: flex;
		position: fixed;

		& .form_container {
			width: 80vw;

			& .btn_container {
				padding: 0.5rem;
				border-radius: 50%;
				color: #fff;
				font-size: 1.5rem;
				background: $brand-main;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				align-self: flex-end;
				transition: all 0.3s ease-in-out;
				&:hover {
					box-shadow: 0 10px 10px darken($brand-accent, 10%);
					cursor: pointer;
				}
			}
			& .grid {
				display: grid;
				grid-template-columns: repeat(1, 1fr);
				grid-template-rows: 1fr;
				& .text_box {
					display: flex;
					flex-direction: column;
					& h2 {
						order: 1;
						font-family: 'Muli';
						font-size: 2rem;
						margin-bottom: 1rem;
					}
					& .social {
						display: flex;
						margin: 0.5rem 0;
						& svg {
							font-size: 1.2rem;
							margin: 0 0.5rem;
							color: $brand-main;
						}
					}
				}
				& .form {
					display: grid;
					grid-template-rows: repeat(5, 1fr);
					gap: 1rem;
				}
			}
		}
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	90% {
		opacity: 0.9;
		transform: scale(1.05);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
