@import url("https://fonts.googleapis.com/css?family=Muli|Playfair+Display|Archivo&display=swap");
@import url("https://use.typekit.net/heb5qtl.css");
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  background: #c79a85; }

main {
  min-height: 100vh;
  position: relative; }

section {
  z-index: 1; }

p {
  font-size: 16px;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
p,
a,
label {
  color: #fff; }

button {
  font-size: 1rem;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal; }
  button:active, button:focus {
    outline: 0px solid transparent; }
