@import url("https://fonts.googleapis.com/css?family=Muli|Playfair+Display|Archivo&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Muli';
  overflow-x: hidden;
  background: #ffcf99; }

main {
  min-height: 100vh;
  position: relative; }

section {
  z-index: 1; }

p {
  font-size: 16px;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
p,
a,
label {
  color: #fff; }

button {
  font-size: 1rem;
  font-family: 'Muli'; }
  button:active, button:focus {
    outline: 0px solid transparent; }
