@import '../../../sass/variables';
@import '../../../sass/mixins';
@font-face {
	font-family: 'Henrik';
	src: url('../../fonts/Henrik-Regular.otf') format('truetype');
}
.section {
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 6rem 0;
	& .heading {
		width: 100%;
		display: flex;
		justify-content: center;
		& h2 {
			@include heading;
		}
	}
	& .grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: 1rem;
		min-width: 60vw;
		& .gig_container {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			padding: 0.5rem;
			width: 100%;
			border-bottom: 1px solid darken($brand-accent, 3%);
			& p {
				display: block;
				color: $brand-text;
				font-size: 1.3rem;
			}
			& button {
				border: 2px solid $brand-main;
				color: $brand-text;
				background: $brand-main;
				padding: 0.5rem 1rem;
				text-transform: uppercase;
				transition: all 0.3s ease;
				box-shadow: 0 1px 5px darken($brand-main, 5%);
				transition: all 0.3s ease;
				&:hover {
					background: darken($brand-main, 2%);
					border: 2px solid darken($brand-main, 2%);
					color: $brand-text;
					cursor: pointer;
					box-shadow: 0 1px 10px darken($brand-main, 5%);
				}
			}
			& svg {
				color: $brand-main;
				font-size: 3rem;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.section {
		padding: 4rem 0;
		& .heading {
			width: 100%;
			display: flex;
			justify-content: center;
			& h2 {
				@include heading;
				font-size: 12vw;
			}
		}
		& .grid {
			gap: 2rem;
			width: 100%;
			max-width: 100%;
			justify-items: center;
			& .gig_container {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				flex-wrap: wrap;
				padding: 1rem;
				width: 100%;
				border-bottom: 1.2px solid darken($brand-accent, 3%);
				& p {
					display: block;
					font-size: 1.2rem;
				}
				& button {
					border: 2px solid $brand-main;
					background: $brand-main;
					color: $brand-text;
					padding: 0.5rem 1rem;
					text-transform: uppercase;
					transition: all 0.3s ease;
					box-shadow: 0 1px 5px darken($brand-main, 5%);
					&:hover {
						cursor: pointer;
						box-shadow: 0 1px 0px darken($brand-main, 5%);
					}
				}
				& svg {
					color: $brand-main;
					font-size: 10vw;
				}
			}
		}
	}
}
