@import '../../../sass/variables';
@font-face {
	font-family: 'Rustic';
	src: url('../../fonts/rustic.ttf') format('truetype');
}

.nav {
	width: 100vw;
	height: 5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8888;
	animation: slidein 1s linear forwards;
	transform: translateY(-10vh);
	opacity: 0;
	transition: all 0.3s ease;
	& .nav_title {
		& h2 {
			font-family: 'Rustic';
			color: $brand-main;
			font-size: 1.7vw;
			font-weight: 100;
			text-transform: uppercase;
		}
	}
	& .nav_inner {
		width: 1000px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		& .link {
			font-size: 0.8vw;
			color: darken($brand-text, 20%);
			transition: all 0.3s ease-in-out;
			text-transform: uppercase;
			text-decoration: none;
			transition: all 0.3s ease;
			background: transparent;
			border: 0;
			&:hover {
				color: $brand-text;
				cursor: pointer;
			}
		}
		& .active {
			color: $brand-text;
			transition: all 0.3s ease;
			&::after {
				content: '';
				height: 1px;
				width: 100%;
				display: block;
				background: $brand-text;
				margin-top: 0.5rem;
				transition: all 0.3s ease;
			}
		}
	}
}

.active_nav {
	background: #000;
	box-shadow: 0 2px 2px lighten(#000, 5%);
}

@keyframes slidein {
	0% {
		transform: translateY(-10vh);
		opacity: 0;
	}
	100% {
		transform: translateY(0vh);
		opacity: 1;
	}
}
