@import '../../../sass/variables';
@font-face {
	font-family: 'Faded';
	src: url('../../fonts/Dreamwalker.ttf') format('truetype');
}
.nav {
	width: 100vw;
	height: 7rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	z-index: 999999;
	animation: slidein 1s linear forwards;
	transform: translateY(-10vh);
	opacity: 0;
	& .nav_title {
		& h2 {
			font-family: 'Faded';
			color: $brand-main;
			font-size: 1.7vw;
			font-weight: 100;
			text-transform: uppercase;
		}
	}
	& .nav_inner {
		width: 1000px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		& a {
			font-size: 0.8vw;
			color: darken($brand-text, 20%);
			transition: all 0.3s ease-in-out;
			text-transform: uppercase;
			&:hover {
				color: $brand-text;
				cursor: pointer;
			}
		}
	}
}

@keyframes slidein {
	0% {
		transform: translateY(-10vh);
		opacity: 0;
	}
	100% {
		transform: translateY(0vh);
		opacity: 1;
	}
}
